
body 
{

}

.basic 
{ 
    color: red;
    background-color:greenyellow;
    text-align: center;
}
.span
{
    align-items: center;
}
.flex
{
display:grid;
grid-template-columns: auto;
grid-template-columns: 1fr 2fr 1fr;
color: whitesmoke;
align-items: left;


}
 #Box-Left
 {
   text-decoration: none;
   color:azure 
 }