body 
{
background-color: rgb(177, 255, 59);
color: red

}

 h1
 {
    text-decoration: wavy;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 } 
.container
{
   display: grid;
   grid-template-columns: 300px,300px;
   grid-template-rows: 300px, 300px;
   gap: 20px;
   grid-row:1/2 ;
   width: 400px; 
   height:400px;
}

.grid-item
{
  justify-content: center;
  color:azure

}