body 
{
background-color: rgb(177, 255, 59);
color: red

}

 h1
 {
    text-decoration: wavy;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 } 
.Colour
{
   background-color: greenyellow;
   color: red;
   justify-content: center;
   text-align: center;
}

.Container
{
   margin-left: auto ;
   color: white; 
   justify-content: center;
}
.grid 
{
   display: grid;
   grid-template-rows:(1, 600px);
   grid-template-columns:(6, 600px);
   gap: 30px; 
}
.grid-item 
{
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 15px;
   color: red;
   background-color: rgb(141, 255, 141);
}