

.basic 
{ 
    color: red;
    background-color:greenyellow;
    text-align: center;
}
.span
{
    align-items: center;
}
.Color
{
  color:red;
  background-color: yellowgreen;
  text-align: center;
}
.container
{
color: whitesmoke;
margin-left: auto;
}
