body 
{
background-color: rgb(177, 255, 59);
color: red

}

 h1
 {
    text-decoration: wavy;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 } 
.Colour
{
   background-color: greenyellow;
   color: red;
   justify-content: center;
   text-align: center;
}

.Container
{
   margin-left: auto ;
   color: white; 
   justify-content: center;
}